.match {
    height: 100%;
    min-height: 100vh;
    background: rgb(222, 246, 255);
}

.match header {
    text-align: right;
    width: 100%;
}
.match .match-ui {
    width: 450px;
    margin: 0 auto;
    margin-top: 100px;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
}

.match .match-ui .info .short-info {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 32px;
    padding: 50px;
    font-weight: normal;
    background: seagreen;
    color: white;
    margin-bottom: 10px;
}

.match .match-ui .info .name {
    width: 100%;
    padding-left: 20px;
}

.match .match-ui .info .name .name-span {
    font-weight: 600;
    font-size: 22px;
    display: block;
    padding-bottom: 0px;
}