.loginDiv {
    width: 400px;
    padding: 20px;
    margin: 50px auto;
    box-shadow: 0 0 5px #aaaaaa;
}
.loginDiv h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

p.mt-3 {
    cursor: pointer;
}